@model IEnumerable<LaborU.Models.ViewModels.PeopleViewModel>
@{
    ViewData["Title"] = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>會員/捐款者資訊</h1>
<table>
    <thead>
        <tr>
            <th>Email</th>
            <th>姓名</th>
            <th>地址</th>
            <th>身份證字號</th>
        </tr>
    </thead>
    @foreach (var peopleViewModel in Model)
    {
<tr>
    <td>@Html.Raw(peopleViewModel.Email)</td>
    <td>@Html.Raw(peopleViewModel.Name)</td>
    <td>@Html.Raw(peopleViewModel.Address)</td>
    <td>
        <input type="password" readonly="readonly" value="@Html.Raw(peopleViewModel.IDNumber)" />
    </td>
    <td><a href="@Url.Action("Edit",new { Id = peopleViewModel.Id})" asp><button type="button">Edit</button></a></td>
</tr>

    }
</table>
<form asp-controller="People" asp-action="Create" method="post">
    <label>Email</label>
    <input type="email" name="email" />
    <label>姓名</label>
    <input type="text" name="name" />
    <button type="submit">新增</button>
    <!-- Input and Submit elements -->
</form>
